<div class="infocardContainer">
  <div id="main">
    <img [src]="hand.anh">
  </div>
  <div id="textbois">
    <h2 (click)="chooseName()">{{hand.name}}</h2>
    <h2>{{hand.clazz}}</h2>
    <h2>{{hand.id}}</h2>
    <div id="hotlinks">
      <a href="https://codepen.io/LIMESTA"><img id="codepenio" [src]="hand.anh " target="_blank">
      </a>
      <a href="https://codepen.io/LIMESTA">
        <img id="codepenio" src="https://image.sggp.org.vn/w580/Uploaded/2020/rohjaop/2019_07_09/stg02291_eseq.jpg"
          target="_blank">
      </a>
      <a href="https://codepen.io/LIMESTA">
        <img id="codepenio" src="https://image.plo.vn/w800/uploaded/2020/vocgmvbg/2020_03_24/truc-anh12_eyxy.jpg"
          target="_blank">
      </a>
    </div>
  </div>
</div>
